@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Passion+One:wght@400;700;900&family=Righteous&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Archivo+Black&family=Passion+One:wght@400;700;900&family=Righteous&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Archivo+Black&family=Black+Ops+One&family=Passion+One:wght@400;700;900&family=Righteous&family=Spicy+Rice&display=swap');

*:not(body){
    background-color: transparent;
}

.about-content{
    color: aliceblue;
    padding: 3vw;
    height: 65vw;
    position: relative;
    top: 1vw;
}

.about-content h1{
    font-size: 6vw;
    font-family: "Black Ops One", cursive;
    font-weight: 900;
    color: rgb(240, 248, 255);
    margin-bottom: 1vw;
    text-align: center;
    position: relative;
    top: 1vw;
    overflow: hidden;
}

.about-content h1 span{
    color: rgb(166, 255, 0);
}

.about-content .about{
    border-radius: 1vw;
    width: 36.3vw;
    text-align: justify;
    padding: 1vw;
}

.about-content .about h2{
    font-size: 3vw;
    font-family: "Spicy Rice", cursive;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    margin-bottom: 1vw;
    letter-spacing: 0.3vw;
}

.about-content .about p , .about-content .about li {
    font-size: 1.3vw;
    font-family:"Antic Slab", serif;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
}

.about-content .about-1{
    position: relative;
    top: 3vw;
    left: 8vw;
}

.about-content .about-1 p{
    text-indent: 4vw;
    padding-left: 3vw;
    width: 85%
}

.about-content .about-2{
    position: relative;
    top: -13vw;
    left: 42vw;
}

.about-content .about-2 .time{
    font-family:'Courier New', Courier, monospace;
}

.about-content .about-2 .university{
    height: 7vw;
}

.about-content .about-2 .institute a{
    text-decoration: none;
    color: rgb(166, 255, 0);
    font-size: 4.2vw;
    font-family: "Passion One", sans-serif;
    position: relative;
    top: -0.8vw;
    margin: 0vw;
}

.about-content .about-2 .exams div{
    position: relative;
    top: -1vw;
    left: 2vw;
    height: 5vw;
}

.about-content .about-2 .exams p{
    font-family: "Lilita One";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.644);
    position: relative;
    top: -2vw;
    left: 0.2vw;
}

.about-content .about-2 .exams div::before{
    content: "•";
    color: rgb(166, 255, 0);
    font-size: 2vw;
    position: relative;
    top: 0vw;
    left: -1vw;
}

.about-content .about-2 .university{
    position: relative;
    top: -1vw;
}

.about-content .about-2 .university .degree{
    position: relative;
    top: -1.5vw;
    left: 8vw;
    width: 30vw;
}

.about-content .about-3{
    position: relative;
    top: -23vw;
    left: 8vw;
}


.about-content .about-3 .skills div{
    position: relative;
    left: 1vw;
    margin-bottom: 1vw;
}

.about-content .about-3 .skills .tech-skills .language-logo{
    padding: 0vw;
}

.about-content .about-3 .skills .tech-skills .language-logo img{
    max-width: 4vw;
}

.about-content .about-3 .skills .tech-skills .language-logo{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    width: 90%;
    position: relative;
    left: 2vw;
    padding-top: 1vw;
}

.about-content .about-3 h3{
    color: rgba(255, 255, 255, 0.589);
    padding-bottom: 1vw;
}


.about-content .about-4{
    position: relative;
    top: -48vw;
    left: 42vw;
}

.about-content .about-4 ul{
    margin-left: 1vw;
}

.about-content .about-4 ul li{
    padding-bottom: 1vw;
}