footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

footer .social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

footer a svg{
    fill: aliceblue;
    height: 2rem;
    width: 2rem;
}