.home{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.home .home-content #name{
    color:rgb(0, 255, 0);
    background: transparent;
    font-size: 5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    position: relative;
    top: -40rem;
    left: 4rem;
    text-shadow: 0.4rem 0.4rem 0rem rgba(36, 138, 10, 0.76);
}

.home .home-content #name span{
    color: aqua;
    display: inline-block;
    transform: rotate(-30deg);
    position: relative;
    left: 1rem;
}
.home .home-content #developer-tag{
    color: aqua;
    background: transparent;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -10rem;
    left: 10rem;
}

.home .home-content img{
    position: relative;
    top: -5rem;
    left:  58rem;
    height: 50rem;
    width: auto;
}

.home .thumbs{
    display: flex;
    flex-direction: row;
}

.home .thumbs svg{
    fill: aquamarine;
    height: 2rem;
}