.home{
    color: aliceblue;
    z-index: -1;
    width: 100%;
}

.home .home-content #name span{
    color:rgba(240, 248, 255, 0.452);
    margin-right: 1.3vw;
    font-size: 3vw;
}


.home .home-content #name{
    color:rgb(157, 255, 0);
    background: transparent;
    font-size: 5vw;
    font-family: Stencil Std, fantasy;
    position: absolute;
    top: 10vw;
    left: 26vw;
    width: 24vw;

}

.home .home-content .developer-tag{
    width: 100%;
    background: transparent;
    font-family: monospace , fantasy , cursive;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -13vw;
    top: 25vw;
}

.home .home-content .developer-tag #tag0{
    background: transparent;
    color: rgba(255, 255, 255, 0.1);
    position: relative;
    font-size: 4vw;
    height: 2.6vw;
}

.home .home-content .developer-tag #tag1{
    background: transparent;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    font-size: 5.5vw;
    height: 3.7vw;
}

.home .home-content .developer-tag #tag2{
    background: transparent;
    color: rgba(255, 255, 255, 0.35);
    position: relative;
    font-size: 7vw;
    height: 4.7vw;
}

.home .home-content .developer-tag #tag3{
    background: transparent;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 9vw;
}

.home .home-content img{
    position: relative;
    top: 5vw;
    left:  70vw;
    height: 44vw;
    width: auto;
}

svg{
    height: 5rem;
}
/* .home .thumbs{
    position: absolute;
    top: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* .home .thumbs  .thumb-in .thumb-link{
    display: flex;
    flex-direction: column;
}

.home .thumbs .thumb-in .thumb-svg-1{
    fill: rgba(157, 255, 0, 0.274);
    stroke: rgb(255, 255, 255);
    height: 15vw;
} */

/* .home .thumbs .thumb-in .thumb-svg-1-1{
    fill: rgb(15, 58, 122);
    background:none;
} */


@media (max-width: 425px){

}