*{
    background-color: rgb(0, 6, 20);
    margin: 0rem;
}

html, body, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
  }

*::-webkit-scrollbar{
    width: 0.8vw;
    height: 0.8vw;
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(179, 255, 0);
}
