nav{
    height: 2.5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    column-gap: 45%;
    background: linear-gradient(90deg, rgba(18, 13, 41, 0.705) 50% , rgb(1, 23, 43));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

nav .links{
    background-color: transparent;
    display: flex;
    width: 70%;
    font-size: 1.4vw;
    column-rule-width: 10px solid white;
}

nav .links a{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.671);
    background: linear-gradient(90deg, rgb(2, 1, 32) ,rgb(1, 21, 41), rgb(2, 1, 32));
}

nav .links a:hover{
    color: rgba(168, 255, 7, 0.842);
    background-color: rgba(4, 15, 44, 0.842);
    border-bottom: 0.1rem solid rgb(166, 255, 0);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}