*:not(body){
    background-color: transparent;
}

.projects{
    color: aliceblue;
    position: relative;
    top: 39vw;
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
}

.projects h1{
    text-align: center;
    font-size: 4.5vw;
    font-family: Marker Felt, sans-serif;
    font-weight: 900;
    color: rgba(240, 248, 255, 0.774);
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.projects .nano-processor, .projects .grocery-shop, .projects .dummy-project{
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 20vw;
    column-gap: 4vw;
    background-color: rgb(3, 16, 46);
    border-radius: 0vw 1vw 1vw 0vw;
    padding: 1.5vw;
    padding-left: 0vw;
}

.projects .grocery-shop{
    position: relative;
    right: -23.3vw;
    padding-left: 1.5vw;
    padding-right: 0vw;
    border-radius: 1vw 0vw 0vw 1vw;
}

.projects .grocery-shop img, .projects .dummy-project img, .projects .nano-processor img{
    width: 30vw;
    height: auto;
}

.projects .dummy-project div{
    width: 100%;
}

.projects div div h2{
    font-size: 3vw;
    font-family: "Lilita One";
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    margin-bottom: 2vw;
}

.projects .project-content p{
    font-size: 1.3vw;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    height: 50%;
    overflow-y: scroll;
}

.projects .project-content .project-git{
    
}